/home/rise42/Projects/Co-op/Coop/logs/*
*.txt
!msg.txt
Coop/.gradle/
Coop/.idea/
Coop/core/assets/
Coop/core/build/
Coop/desktop/build/
Coop/gradle.properties
Coop/gradle/
Coop/gradlew
Coop/gradlew.bat
Server/*
javaserv/java-serv.iml
javaserv/.idea/
javaserv/javaserv.iml
javaserv/target/

